3DGS/3dgsVC/__pycache__/test.cpython-310.pyc
3DGS/3dgsVC/data/__pycache__/__init__.cpython-39.pyc
3DGS/3dgsVC/data/__pycache__/__init__.cpython-310.pyc
3DGS/3dgsVC/data/__pycache__/__init__.cpython-311.pyc
3DGS/3dgsVC/data/__pycache__/dataset.cpython-39.pyc
3DGS/3dgsVC/data/__pycache__/dataset.cpython-310.pyc
3DGS/3dgsVC/data/__pycache__/dataset.cpython-311.pyc
3DGS/3dgsVC/data/__pycache__/mask_generator.cpython-39.pyc
3DGS/3dgsVC/data/__pycache__/mask_generator.cpython-310.pyc
3DGS/3dgsVC/data/__pycache__/mask_generator.cpython-311.pyc
3DGS/3dgsVC/data/__pycache__/transforms.cpython-39.pyc
3DGS/3dgsVC/data/__pycache__/transforms.cpython-310.pyc
3DGS/3dgsVC/data/__pycache__/transforms.cpython-311.pyc
3DGS/3dgsVC/gaussian/__pycache__/__init__.cpython-310.pyc
3DGS/3dgsVC/gaussian/__pycache__/gaussian_model.cpython-310.pyc
3DGS/3dgsVC/gaussian/__pycache__/voxelizer.cpython-310.pyc
3DGS/3dgsVC/losses/__pycache__/__init__.cpython-310.pyc
3DGS/3dgsVC/losses/__pycache__/losses.cpython-310.pyc
3DGS/3dgsVC/metrics/__pycache__/__init__.cpython-310.pyc
3DGS/3dgsVC/metrics/__pycache__/metrics.cpython-310.pyc
3DGS/3dgsVC/trainers/__pycache__/__init__.cpython-39.pyc
3DGS/3dgsVC/trainers/__pycache__/__init__.cpython-310.pyc
3DGS/3dgsVC/trainers/__pycache__/trainer.cpython-39.pyc
3DGS/3dgsVC/trainers/__pycache__/trainer.cpython-310.pyc

.claude/settings.json
.claude/settings.local.json

3DGS/3DGS.pdf

3DGS/3dgsVC/results/
3DGS/3dgsVC/gaussian/__pycache__/tile_voxelizer.cpython-310.pyc
3DGS/train.sh
.gitignore

3DGS/final_longaxis_dc/paper_lowmid_acc8_pts200000_long_axis_tile_cuda_seed42
3DGS/run_exp1/paper_lowmid_acc8_pts500_long_axis_tile_cuda_seed42
3DGS/run_exp1/paper_lowmid_acc8_pts200000_long_axis_tile_cuda_seed42